<head>
    <link rel = "stylesheet"  type = "text/css"  href = "../css/footer.css" />
</head>


<div class="row fot">
    <div class="column" >
        <h5>Support</h5>
        <h6> We want the best user experience for you. <br>So if you encounter a problem please let us know so we can take care of it.</h6>
        <a href="/bugReport"  class="col-xs-12 col-sm-7 col-md-7" target="_blank">Bug Report</a>
    </div>
    <div class="column" >
        <h5>Rules for our website</h5>
        <a href="/Terms"  class="col-xs-12 col-sm-7 col-md-7" target="_blank">Terms & Privacy</a>
    </div>
    <div class="column" >
        <h5>Satisfaction</h5>
        <h6>Would you like to fill out a survey on our site?<br> It will take a few seconds :)</h6>

        <a  href="https://docs.google.com/forms/d/e/1FAIpQLSeeqrUrLyXoi_V_wAtt0hXjZ8lcJhRJwYOdmc5jKqBLwQoeAg/viewform?entry.1799557256=5&entry.1706902659=5" target="_blank">take me to the survey</a>
    </div>
    <div class="column" >
        <h5>Copyright 2021</h5> <h6>Shaked,Tair,Ruth,Mussi,Dvora,Bluma ♥</h6>
    </div>
</div>

</footer>
<!--Bottom Footer-->
