
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

                <div class="navbar-header">
                    <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/homepageContractor" >Logo here</a>
                </div>

                <div class="navbar-collapse collapse" id="mobile_menu">
                    <ul class="nav navbar-nav">
                        <li class="#"><a href="/leavePeriodContractor"><span class="glyphicon glyphicon-pencil"></span>   Leave period</a></li>
                        <li><a href="/workHistoryContractor"><span class="glyphicon glyphicon-list-alt"></span>   Work history</a></li>
                        <li><a href="/salaryDetailsContractor"><span class="glyphicon glyphicon-usd"></span>  Salary details</a></li>

                        <li><a href="/profileContractorDetails"><span class="glyphicon glyphicon-user"></span>  Profile</a></li>

                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li>welcome, <%=user.email %></li>
                        <li><a href='/logout' ><span class="glyphicon glyphicon-log-in"></span> Logout <span ></span></a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>