<link rel = "stylesheet"
      type = "text/css"
      href = "../css/404.css" />


<div id="main">
    <div class="fof">
        <h1>Error 404</h1>
        <p>You're probably not cool enough for us</p>
        <a href="/">return to happiness</a>
    </div>
</div>


