
<html>
<head>


    <!--    <h1>Add a contractor worker - HR</h1>-->

    <title>Add Contractor</title>
    <link rel = "stylesheet"
          type = "text/css"
          href = "../css/login.css" />

    <!--    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
    <!--    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>-->
    <!--    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
</head>

<body style="background-image: url(https://wallpapercave.com/wp/wp7560270.jpg);">
<%- include ("partials/navHR.ejs")-%>
<link rel = "stylesheet"  type = "text/css"  href = "../css/addAContractorHR.css" />

<div class="main">
    <div class="col-md-6 col-sm-12">
        <form  id="form">
            <div class="form-group">
                <label class="label">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="email error"></div>
            <div class="form-group">
                <label class="label">Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,10}' required>
                <!--                    <div class="password error"></div>-->
            </div>

            <div class="form-group">
                <label class="label">First Name</label>
                <input type="text" name="firstName" class="form-control" placeholder="First Name" pattern="[a-zA-z]{3,}" required>
            </div>
            <!--                <div class="fName error"></div>-->
            <div class="form-group">
                <label class="label">Last Name</label>
                <input type="text" name="lastName" class="form-control" placeholder="Last Name" pattern="[a-zA-z]{3,}" required>
            </div>
            <!--                <div class="lName error"></div>-->
            <div class="form-group">
                <label class="label">Phone Number</label>
                <input type="tel" name="phoneNumber" class="form-control" placeholder="Phone Number" pattern="[0-9]{9,10}"required>
            </div>

            <div class="form-group">
                <label class="label">City</label>
                <select id="city"></select>
            </div>
            <div class="city error"></div>
            <div class="form-group">
                <label class="label">Street</label>
                <input type="text" name="street" class="form-control" placeholder="Street"  pattern="[A-Za-z]+" required>
            </div>

            <div class="form-group">
                <label class="label">House Number</label>
                <input type="text" name="houseNumber" class="form-control" placeholder="House Number" pattern="[0-9]+" required>
            </div>
            <div class="house error"></div>
            <!--////////////////////////////////////////////////////////////////////////////-->
            <div class="form-group">
                <label class="label">Hourly rate</label>
                <input type="number" name="hourlyRate" class="form-control" placeholder="hourly rate"  pattern="{17,500}" required>
            </div>
            <div class="Hourly rate error"></div>

            <div class="form-group">
                <label class="label">Years of experience</label>
                <input type="number" name="experience" class="form-control" placeholder="Years of experience" pattern="[0-9]+"  required>
            </div>

            <div>
                <lable for:="gender" class="label"> gender</lable>
                <select class="form-group" name="gender" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>

            <div>
                <label class="label">Language proficiency:</label>
                <div id = "languages" name="languages">
                    <label class="label"><input type="checkbox" id ="hebrew" name="test" value="hebrew"> Hebrew</label>
                    <label class="label"><input type="checkbox" id="english" name="english" value="english"> English</label>
                    <label class="label"><input type="checkbox" id="arabic" name="arabic" value="arabic"> Arabic</label>
                    <label class="label"><input type="checkbox" id="russian" name="russian" value="russian"> Russian</label>
                    <label class="label"><input type="checkbox" id="amharic" name="amharic" value="amharic"> Amharic</label>
                    <label class="label"><input type="checkbox" id="chinese" name="chinese" value="chinese"> Chinese</label>
                    <label class="label"><input type="checkbox" id ="portuguese" name="portuguese" value="portuguese"> Portuguese</label>
                    <label class="label"><input type="checkbox" id="french" name="french" value="french"> French</label>
                    <label class="label"><input type="checkbox" id="romanian" name="romanian" value="romanian"> Romanian</label>
                    <label class="label"><input type="checkbox" id="polish" name="polish" value="polish"> Polish</label>
                    <label class="label"><input type="checkbox" id="spanish" name="spanish" value="spanish"> Spanish</label>
                </div>
                <div class="noLanguages error"></div>

            </div>

            <div>
                <lable for:="smoker" class="label"> Smoke</lable>
                <select class="form-group" name="smoker" id="smoker">
                    <option value="smoker">smoker</option>
                    <option value="non smoker">non smoker</option>
                    <option value="not at work">not at work</option>
                </select>
            </div>

            <div>
                <lable for:="education" class="label"> Education</lable>
                <select class="form-group" name="education" id="education">
                    <option value="Elementary">Elementary</option>
                    <option value="High school">high school</option>
                    <option value="Higher">higher</option>
                </select>
            </div>



            <!--101 form-->
            <div class="mb-3">
                <label class="label"> 101 Form:</label>
                <input type="file" name="form101" class="form-control" aria-label="file example">
                <div class="invalid-feedback">Example invalid form file feedback</div>
            </div>
            <!--jobsArray-->

            <div>
                <label class="label"> Jobs:</label>
                <div id = "jobTypes" name="jobTypes">
                    <label class="label"><input type="checkbox" id ="babysitting" name="test" value="babysitting">babysitting</label>
                    <label class="label"><input type="checkbox" id="ironing" name="ironing" value="ironing">ironing</label>
                    <label class="label"><input type="checkbox" id="cleaning" name="cleaning" value="cleaning"> cleaning</label>
                    <label class="label"><input type="checkbox" id="gardening" name="gardening" value="gardening"> gardening</label>
                    <label class="label"><input type="checkbox" id="cooking" name="cooking" value="cooking"> cooking</label>
                    <label class="label"><input type="checkbox" id="pet care" name="pet care" value="pet care"> pet care</label>
                </div>
                <div class="noJobTypes error"></div>


            </div>
            <div class="mb-3">

                <label for="picture" class="label">Select image:</label>
                <input type="file" id="picture" name="picture" accept="image/*">

            </div>

            <label for="start">Birthday:</label>

            <input type="date" id="birthday" name="birthday"
                   value="2000-07-22"
                   min="1970-01-01" max="2010-12-31">
            <!-- Bank-->
            <div class="form-group">
                <label class="label">Bank Name</label>
                <input type="text" name="bankName" class="form-control" placeholder="Name of bank" pattern="[a-zA-z]+" required>
            </div>

            <div class="form-group">
                <label class="label">Bank account Number</label>
                <input type="text" name="accountNumber" class="form-control" placeholder="Bank account tax" pattern="[0-9]{6,7}" required>
            </div>
            <div class="form-group">
                <label class="label">Bank Branch</label>
                <input type="text" name="branch" class="form-control" placeholder="Branch bank tax" pattern="[0-9]+" required>
            </div>
            <!-- About me-->
            <div class="form-group">
                <label class="label">About Me:</label>
                <input type="text" name="aboutMe" class="form-control" placeholder="Tell about yourself"  required>
            </div>
            <br><br>
            <button type="submit" id="submit" class="btn btn-black">Add Contractor</button>
        </form>
        <div class="suc new"></div>

    </div>
</div>

<script src="../js/addAContractorHR.js"></script>


<%- include ("partials/footer.ejs")-%>
</body>


</html>

<script>
    const citiesArray =['eilat',
        'jerusalem',
        'nazareth' ,
        'haifa',
        'zikhron ya’akov ',
        'arad',
        'netanya',
        'nahariya',
        'kfar tavor',
        'hebron',
        'kinneret moshava',
        'holon',
        'bat shlomo',
        'bnei brak' ,
        'the negev desert ',
        'the lowlands',
        'abu snan',
        'julis',
        'maghar',
        'samia',
        'ein al-assad',
        'isfiya',
        'keysarya' ,
        'beer sheva',
        'sde boker',
        'yad moredechai',
        'rosh-pina' ,
        'kiryat shmona',
        'kiryat malachi',
        'ein gedi',
        'ein-hod' ,
        ' kfar nakhum',
        ' hazor haglilit',
        'metula' ,
        'harduf',
        'ashdod',
        'kfar kama',
        'abu gosh' ,
        'jezreel valley',
        ' the judean desert',
        'sea of galilee',
        'beit jann',
        'sajur',
        'rameh',
        'daliyat el-carmel',
        'the golan heights',
        'tiberias',
        'mitspe ramon',
        'akko',
        'katzerin',
        'nahalal',
        'kfar yasif',
        'hanita',
        'maalot tarshiha',
        'bat yam',
        'the hula valley' ,
        'hevel habsor',
        'the arava',
        'the galilee',
        'gush dan',
        'the nitzana region',
        'yanuh',
        'yarka',
        'kisra',
        'hurfeish',
        'shefa-amr',
        'the dead sea',
        'tel aviv jaffa',
        'tsefat' ,
        'tel-hai ',
        'ramla',
        'hertzeliya' ,
        'gush halav',
        'ashkelon' ,
        'beit shean' ,
        'cana' ,
        'jatt',
        'rehaniya',
        'degania']
    function selectOne() {
        var select = document.getElementById('city')
        for (var i=citiesArray.length-1; i>=0; i--) {
            var x= citiesArray[i].charAt(0).toUpperCase() + citiesArray[i].slice(1);
            select.options[select.options.length] = new Option(x, citiesArray[i])
        }
    }
    selectOne()
</script>