<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bug Report</title>
    <link rel="stylesheet" href="../css/bugReport.css">
</head>

<body>
<meta charset="UTF-8">

<form class="container">
    <form id="form" method="get">
        <h3>BUG REPORT</h3>
        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" placeholder="Email" required>
        </div>
        <br/>

        <div class="form-group">
            <label>First Name</label>
            <input type="text" name="name" class="form-control" placeholder="First Name" pattern="[a-zA-z]{3,}" required>
        </div>
        <div class="name error"></div>
        <br/>

        <div class="form-group">
            <label >Please explain briefly what is not working:</label>

            <input type="text" name="bug" class="form-control" placeholder="explain" style="height:100px; font-size:14pt;" title="less then 20 letters" pattern=".{20,9}" required>
        </div>
        <div class="bug error"></div>
        <button type="submit" value="Submit">send</button>
        <div class="email error"></div>

    </form>
</form>
</body>

<%- include ("partials/footer.ejs")-%>
</html>

<script src="../js/bugReport.js"></script>


