<html>

<link rel = "stylesheet"  type = "text/css"  href = "../css/forgot.css" />

<head>
    <title>Forgot Password</title>
</head>

<h1>forgot your password contractor</h1>
    <form>
        <label email="email">Enter your email:</label><br>
        <input type="email" id="email" name="email"><br>
        <input type="submit" value="Submit">
        <div class="email error"></div>
        <a href="/loginContractor" >click here to login again</a>

    </form>
</html>





<script src="../js/forgotContractor.js"></script>
