<html>

<link rel = "stylesheet"  type = "text/css"  href = "../css/forgot.css" />

<head>
    <title>Forgot Password</title>
</head>
<body>
<h1>forgot your password contractor</h1>
    <form class="container">
        <label email="email">Enter your email:</label><br>
        <input type="email" id="email" name="email" placeholder="Your email..."><br>
        <input type="submit" value="Submit">
        <div class="email error"></div>
        <h2><a href="/loginContractor">click here to login again</a></h2>

    </form>

</body>
</html>





<script src="../js/forgotContractor.js"></script>
