<html>
<link rel = "stylesheet"  type = "text/css"  href = "../css/forgot.css" />

<head>
    <title>Forgot Password</title>
</head>
<body>
<h1>Forgot you password employer</h1>
<form class="container">
    <label email="email">Enter your email:</label><br>
    <input type="email" id="email" name="email"><br>
    <input type="submit" value="Submit">
    <div class="email error"></div>
    <a href="/loginEmployer" >click here to login again</a>

</form>
</body>
<%- include ("partials/footer.ejs")-%>
</html>





<script src="../js/forgotEmployer.js"></script>
