<%- include ("partials/navContractor.ejs")-%>
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel = "stylesheet"  type = "text/css"  href = "../css/homepageContractor.css" />
    <script src="../js/shiftReportContractor.js"></script>
    <script src="../js/homepageContractor.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>-->

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <title>Home page contractor</title>
</head>

<body>

<h1> Home page contractor</h1>
<div class="container">
    <!--    <button type="button" class="btn btn-warning" onclick="myFonc()">Check your unapproved transactions </button>-->
    <!--    <h2><a href="workOrdersContractor">Check your unapproved transactions </a></h2>-->
    </br><center><a class="btn btn-warning" href="workOrdersContractor" role="button">Check your unapproved transactions </a></center>
    <!--    <button onclick="window.location.href='workOrdersContractor'" class="button_slide slide_down" justify-content="center" margin-right="20px">Check your unapproved transactions</button>-->

    <h2>My rating: </h2>
    <%if(user.rating==0) { %>
        <center><font size="50px" color="#f0ffff">★★★★★</font></center>
    <%} else if(user.rating==1){ %>
        <center><font size="50px" color="#ffd700">★</font><font size="50px" color="#f0ffff">★★★★</font></center>
    <% } else if(user.rating==2) { %>
        <center><font size="50px" color="#ffd700">★★</font><font size="50px" color="#f0ffff">★★★</font></center>
    <% } else if(user.rating==3) { %>
        <center><font size="50px" color="#ffd700">★★★</font><font size="50px" color="#f0ffff">★★</font></center>
    <% } else if(user.rating==4) { %>
        <center><font size="50px" color="#ffd700">★★★★</font><font size="50px" color="#f0ffff">★</font></center>
    <% } else if(user.rating==5) { %>
    <center><font size="50px" color="#ffd700">★★★★★</font></center>
        <% } %>

        <h2>Shift report</h2>
        <center><input type="text" name="daterange"  /></center>
        <center><div class="date messages error"></div></center>
        <hr>
</div>

<form id="hoursForm" class="container">
    <label>please fill the hours</label>
    <input type="time" id="startTime" name="startTime"
           min="00:00" max="23:59" required>

    <input type="time" id="endTime" name="endTime"
           min="00:00" max="23:59" required>
    <div class="hour message error"></div>
    <div class="hour message suc"></div>

    <div>
        <input type="submit" value="Submit form">
    </div>
</form>
<hr>
<div class="container" id="recommendations">
    <h4>My recommendations:</h4>
    <%if(rec.length > 0) {%>
        <button class="fa fa-chevron-left fa_right" onclick="changeText('pre')"></button>
        <h3></h3>
        <button class="fa fa-chevron-right fa_custom" onclick="changeText('nxt')"></button>
    <% } %>
    <% if(rec.length <=0) {%>
        <h3>I have no recommendations yet</h3>
    <% } %>
    <br/>
    <br/>
</div>
<p></p>
</br>

</body>
<%- include ("partials/footer.ejs")-%>

<script>
    document.getElementById('hoursForm').style.display = 'none'
    const arrRec = <%- JSON.stringify(rec)%>
        console.log(arrRec)
    var point = 0;
    function changeText(txt){
        if(txt === 'pre') {
            point = point - 1
            if(point < 0){
                point = arrRec.length
            }
            $('h3').html(arrRec[(Math.abs(point)) % (arrRec.length)]);
        }
        if(txt === 'nxt'){
            $('h3').html(arrRec[(point+1) % (arrRec.length)]);

        }
        else{
            point = ((Math.floor(Math.random()*10)) % (arrRec.length))
            $('h3').html(arrRec[point]);
        }
        setTimeout(changeText, 5000)

    }
    if( arrRec.length > 0) {
        console.log(arrRec.toString())
        changeText();
    }

</script>