
<%- include ("partials/navHR.ejs")-%>
<!doctype html>
<html lang="en">
<head>

    <script src="https://kit.fontawesome.com/283d9ebdce.js" crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel = "stylesheet"  type = "text/css"  href = "../css/homepageHR.css" />
    <title>Home page HR</title>
</head>
<body>
<div class="homepage">
    <h1> home page HR</h1>
    <hr>
</div>
</body>
<%- include ("partials/footer.ejs")-%>