<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link rel = "stylesheet"  type = "text/css"  href = "../css/home.css" />
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


        <title>Home page</title>
    </head>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
        <div class="container">


            <!-- Brand -->
            <a class="navbar-brand" href="/"><span>Logo</span> Here</a>

            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="loginHR">Human Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="loginContractor">Contractor worker</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="loginEmployer">Employer</a>
                    </li>
                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Link 1</a>
                            <a class="dropdown-item" href="#">Link 2</a>
                            <a class="dropdown-item" href="#">Link 3</a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <body>


        <div class="banner">
            <div class="container">
                <div class="banner-text">

                    <div class="banner-heading">
                        Household manpower
                    </div>
                    <div class="banner-sub-heading">
                        looking for a babysitter / cleaner / gardener ..? Here you will find ..
                        Looking for a job? good luck to you!
                    </div>
                    <button type="button"  onclick="document.location='loginEmployer'" class="btn btn-warning text-dark btn-banner">Looking for an employee?</button>
                    <button type="button" onclick="document.location='loginContractor'" class="btn btn-warning text-dark btn-banner">Looking for a job?</button>

                </div>
            </div>
        </div>
        <section id="about">
            <div class="container">
                <div class="text-intro">
                    <h2>About Us</h2>
                    <p>This site, is a site built with fatigue and thirst,
                        This is a group of female students whose light color tends to white and after multiple studies have come to the conclusion that fluorescent light does not tan.
                        That is why users of the site, should appreciate its beauty points, the creativity, the exit from the box, because it is something that crosses bodies, not every day are exposed to such a site.
                        <br>
                        Instructions for use:
                        A left mouse button will help you switch between pages, please click on the left and not the right button it is just useless (from experience)
                        <br>
                        Thanks to the group members (in alphabetical order of course):
                        <br>
                        Bluma,
                        Devorah
                        Mussi,
                        Ruthi,
                        Shaked,
                        Tair.</p>
                </div>
            </div>
        </section>

    <!-- Option 1: Bootstrap Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>


    </body>

    <%- include ("partials/footer.ejs")-%>

</html>

