<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet"
             type = "text/css"
             href = "home.css" />
    </head>
    <body>
        <%- include ("partials/nav.ejs")-%>

        <h1>Wellcome to our website</h1>


    </body>
</html>




