
<%- include ("partials/navEmployer.ejs")-%>
<!doctype html>
<html lang="en">
<head>

    <script src="https://kit.fontawesome.com/283d9ebdce.js" crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel = "stylesheet"  type = "text/css"  href = "../css/homepageEmployer.css" />
    <title>Home page employer</title>
</head>
<body>
<div class="homepage">
<h1>Home page employer</h1>
<hr>
<h2>What kind of service do you need?</h2>

<button class="btn" type="button" >
    <i class="fas fa-baby fa-2x"></i>
    <a style="text-decoration: none;" href="/viewEmployeesEmployer/babysitting">
        <h2 class="title">babysitting</h2>
    </a>
</button>

<button class="btn" type="button" >
    <i class="fas fa-tshirt fa-2x"></i>
    <a style="text-decoration: none;" href="/viewEmployeesEmployer/ironing">
        <h2 class="title">ironing</h2>
    </a>
</button>

<button class="btn" type="button" >
    <i class="fas fa-broom fa-2x"></i>
    <a style="text-decoration: none;" href="/viewEmployeesEmployer/cleaning">
        <h2 class="title">cleaning</h2>
    </a>
</button>
<br>
    <br>
<button class="btn" type="button" >
    <i class="fas fa-tree fa-2x"></i>
    <a style="text-decoration: none;" href="/viewEmployeesEmployer/gardening">
        <h2 class="title">gardening</h2>
    </a>
</button>

<button class="btn" type="button">
    <i class="fas fa-cookie-bite fa-2x"></i>
    <a style="text-decoration: none;" href="/viewEmployeesEmployer/cooking">
        <h2 class="title">cooking</h2>
    </a>
</button>

<button class="btn" type="button">
    <i class="fas fa-dog fa-2x"></i>
    <a style="text-decoration: none;" href="/viewEmployeesEmployer/pet care">
        <h2 class="title">pet care</h2>
    </a>
</button>




<%- include ("partials/footer.ejs")-%>

<script src="../js/buttonsEmployer.js"></script>
</div>
</body>

</html>