




<%- include ("partials/navContractor.ejs")-%>
<!doctype html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel = "stylesheet"  type = "text/css"  href = "../css/homepageContractor.css" />
    <script src="../js/shiftReportContractor.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <title>Home page contractor</title>
</head>

<body>

    <h1>Home page contractor</h1>
    <hr>
    <h2>here goes the stars</h2>
    <h1> number of stars:<%=user.rating %></h1>


    <hr>
    <h2>Shift report</h2>
<!--    <input type="text" name="daterange"  />-->
<!--    <div class="date error"></div>-->



    <hr>
    <h2>here goes the recommendation</h2>
    <%- include ("partials/footer.ejs")-%>

