<link rel = "stylesheet"
      type = "text/css"
      href = "nav.css" />

<div class="navbar">

    <p> Mussi is trying working with git</p>
    <a href="http://127.0.0.1:3000/try">Link 1</a>
    <a href="http://127.0.0.1:3000/login">Link2</a>
    <a href="#">Link3</a>
    <a href="#" class="right">Link4</a>
</div>


