
<%- include ("partials/navContractor.ejs")-%>
<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel = "stylesheet"  type = "text/css"  href = "../css/leavePeriodContractor.css" />
        <script src="../js/leavePeriodContractor.js"></script>

        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

        <title>Leave period</title>
    </head>

    <body>

    <h1>leave period</h1>
    <p1>please chose the dates you do not want to work at</p1>

    <input type="text" name="daterange" />

    <div class="dates added"></div>


    <%- include ("partials/footer.ejs")-%>


    </body>


</html>

