
<html>
    <head>
        <title>Login</title>
        <link rel = "stylesheet"
              type = "text/css"
              href = "../css/login.css" />

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--        Robot check-->
<!--        <script src="https://www.google.com/recaptcha/api.js"></script>-->

    </head>

    <body>

    <div class="sidenav">
        <div class="login-main-text">
            <div id="imag" class="m-b-25"> <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> </div>
            <h2>Login<br>Human Resources</h2>
            <p>Connect with the user you received from the company.</p>
        </div>
    </div>


    <div class="main">
        <div class="col-md-6 col-sm-12">
            <div class="login-form">
                <form action="/loginHR">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="email error"></div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password " required>
                        <div class="password error"></div>
                    </div>
<!--                    <div class="g-recaptcha" data-sitekey="6Lctr7gaAAAAAIVxAUexa0r8OG9jrkUswVNiAgJ1"></div>-->
                    <button type="submit" class="btn btn-black">login</button>

<!--                    Robot check-->
<!--                    <button type="submit" class="btn btn-black g-recaptcha" data-sitekey="6Lctr7gaAAAAAIVxAUexa0r8OG9jrkUswVNiAgJ1"-->
<!--                            data-callback='onSubmit'-->
<!--                            data-action='submit'>login</button>-->

            </form>
        </div>
    </div>
    </div>
    </body>

    <script src="../js/loginHR.js"></script>





</html>


