
<html>
<head>
    <title>Login</title>
    <link rel = "stylesheet"
          type = "text/css"
          href = "../css/login.css" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

<div class="sidenav">
    <div class="login-main-text">
        <h2>Login<br>Employer</h2>
        <p>Log in / register and find the best employees.</p>
    </div>
</div>


<div class="main">
    <div class="col-md-6 col-sm-12">
        <div class="login-form">
            <form action="/">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Email" required></input>
                </div>
                <div class="email error"></div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password" required></input>
                    <div class="password error"></div>
                </div>

                <div class="form-group">
                    <div id="captcha" class="captcha"><script>createCaptcha()</script></div>
                    <div class="restart">
                        <a href="#" onclick="createCaptcha()">Check me out for text view/change:) </a>
                    </div>

                    <div class="input">
                        <input type="text" name="reCaptcha"  id="reCaptcha" class="form-control" placeholder="Type The Captcha" required>
                    </div>

                    <div id="errCaptcha" class="errmsg"></div>
                </div>

                <button type="submit" class="btn btn-black">login</button>
                <a href="/signupEmployer"  class="btn btn-secondary">Do not have an account?</a>
                <a href="/forgotEmployer"  class="btn btn-third">forgot your password?</a>


            </form>
        </div>
    </div>
</div>

<script src="../js/loginEmployer.js"></script>




</body>


</html>




