<html>
    <head>
        <title>Login</title>
        <link rel = "stylesheet"
              type = "text/css"
              href = "login.css" />
        <%- include ("partials/nav.ejs")-%>
    </head>

    <body>


    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->
            <h2 class="active"> Sign In </h2>
            <h2 class="inactive underlineHover"><a href='signup'>Sign Up </a></h2>

            <!-- Icon -->
            <div class="fadeIn first">
                <img src="https://www.sce.ac.il/ver/2/tpl/website/img/SamiSH-logo_2.png" id="icon" alt="User Icon" />
            </div>

            <!-- Login Form -->
            <form method="post">
                <input type="text" id="login" class="fadeIn second" name="username" placeholder="login" required>
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="password" required>
                <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Forgot Password?</a>
            </div>

        </div>
    </div>
    </body>


</html>