<html>
<head>

    <%- include ("partials/navContractor.ejs")-%>


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel = "stylesheet"  type = "text/css"  href = "../css/salaryDetailsContractor.css" />
    <script src="../js/salaryDetailsContractor.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


    <title>Salary details</title>

</head>
<h1> Salary details contractor</h1>

<body>
<form class="container">
    <h2 id="date"><span class="glyphicon glyphicon-tags "></span>              For the current month: </h2>
    <h2>The salary so far is: <%=sal%></h2>
    <hr>
    <h2>Choose a range for which you would like to see the salary</h2>
    <input type="text" name="daterange" value="" />
    <div class="salary range"></div>
    <div class="salary range error"></div>

    </div>
</form>

</body>

<%- include ("partials/footer.ejs")-%>
</html>
