<html>
<head>
    <title>Login</title>
    <link rel = "stylesheet"
          type = "text/css"
          href = "signup.css" />
    <%- include ("partials/nav.ejs")-%>
</head>

<body>


<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="inactive underlineHover"><a href='login'>Log in </a></h2>
        <h2 class="active">Sign Up </h2>

        <!-- Icon -->
        <div class="fadeIn first">
            <img src="https://www.sce.ac.il/ver/2/tpl/website/img/SamiSH-logo_2.png" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form method="post">
            <input type="text" id="login" class="fadeIn second" name="userName" placeholder="Login" required>
            <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password" required>
            <input type="email" id="email" class="fadeIn fourth" name="email" placeholder="Email" required>
            <input type="tel" id="phone" class="fadeIn five" name="phoneNumber" placeholder="Phone number" required>
            <input type="submit" class="fadeIn six" value="Sign up">
        </form>


    </div>
</div>
</body>


</html>