<!DOCTYPE html>
<html lang="en">
<head>
<!--    <link rel = "stylesheet"  type = "text/css"  href = "../css/Terms.css" />-->
</head>

<body>
    <meta charset="UTF-8">
    <title>Terms&privacy</title>
    <h2> Terms of use of the "HouseHold manpower" website and terms of use</h2>
    <br>
    <h4 style="color:Tomato;">1. Introduction:</h4>

        <lable>
        <p>
        1.1. The "HouseHold manpower" website (hereinafter: the "Website") is a website that includes information and various services in the household industry.
        </p>
        <p>
        1.2. The rules of this site, which also apply to the terms of use of the site, are written in the singular for the sake of language convenience, but refer to both sexes, the plural, as well as companies, bodies and corporations, legal and / or business equally.
        </p>
        <p>
        1.3. Please read these terms and conditions and their terms of use carefully, before browsing the "HouseHold manpower" website, as continuing to browse and view the information on the website and / or its contents constitutes your agreement to the site's rules (this document, hereinafter: "Site Terms") in full.
        </p>
            <br>
        <h4 style="color:Tomato">2. Term definitions:</h4>

            <p>
        2.1. Subject to the Terms and Conditions of Use the term "Terms" means this document in all its parts.
            </p>
            <p>
        2.2. Subject to the Terms and Conditions of Use the term "Company" means "HouseHold manpower".
            </p>
            <p>
        2.3. Subject to the Terms and Conditions of Use The term "Website" means this Website which is owned by "HouseHold manpower", and refers to all its various parts, including content, images, articles, graphs, files of any kind including text files and graph files, data, names, commercial, codes And so on.
            </p>
            <p>
        2.4. Subject to the Terms and Conditions of Use, the term "User" means any person who uses this Site in any way and form, and / or any User (including a third party) of the Site or its various parts shall be, as specified in the term "Site" ".
            </p>
<br>
            <h4 style="color:Tomato;"> 3. Terms of use:</h4>
            <p>
            3.1. The use of the "HouseHold manpower" website and its contents can be used as is (AS IS) and without any obligation or warranty of any kind. The use of the content displayed on the site as specified in the definition of the term "site", as well as the services of the site will be made at the sole and complete responsibility of the user.
            </p>
            <p>
            3.2. "HouseHold manpower" does not guarantee that the content on the site will be updated at all times.
            </p>
            <p>
            3.3. This site is for the personal use of the user only and is protected by copyright law. The copyright of this site belongs to "HouseHold manpower", and may not be made, in the content contained therein, in the files, images, graphics and data in it any commercial use without express prior written permission from "HouseHold manpower".
            </p>
            <p>
            3.4. Do not distribute, lend, display, copy, store, reproduce, quote, send by regular mail or e-mail, publish in writing, on the Internet, or in any other medium - information from this site - in whole or in part, except with clear and express consent, in writing and in advance - from "HouseHold manpower".
            </p>
            <p>
            3.5. The entire copyright and intellectual property on the site and in any part thereof, including the contents of the site, articles, presentations, articles, blogs, and any software, application, computer code, graphic file, text and any other material contained therein, in any interface and / or code is by "HouseHold manpower" only.
            </p>
            <br>
            <h4 style="color:Tomato;">4. Warranty of use:</h4>
            <p>


            4.1. "HouseHold manpower" will not bear any responsibility for any result and / or direct or indirect damage of any kind and type caused due to the use of the information on this site. The use of the site and its contents of any kind, may be used as is and without any obligation or warranty of any kind.
            </p>
            <p>
            4.2. "HouseHold manpower" and / or its owners, or anyone acting on their behalf, whether directly or indirectly, do not bear any responsibility for any action, result, direct or indirect, following the use of information or service of any kind found on the site and / or found through the site.
            </p>
            <p>
            4.3. "HouseHold manpower" does not guarantee that the content on the site and / or the rates and / or prices, whatever they may be, will be updated at all times.


            </p>

            <br>
            <h4 style="color:Tomato;">5. The service:</h4>
            <p>


                5.1. The service on the "HouseHold manpower" website can be used as is. As a result, there will be no claim, claim or demand against "HouseHold manpower" in respect of the features and manner of service, its capabilities, limitations or its adaptation to the needs and requirements of the user.
            </p>
            <p>
                5.2. "HouseHold manpower" does not guarantee that the service on the site will not be interrupted, will be provided properly or without interruptions, will take place safely and without errors. In addition, "HouseHold manpower" does not guarantee that the site will be immune from unauthorized access to "HouseHold manpower" computers, damage, breakdowns, malfunctions - including malfunctions in the hardware, software or communication lines to the "HouseHold manpower" site.
            </p>
            <p>
                5.3. "HouseHold manpower" and / or its owners, and / or those on their behalf do not undertake that the site will not be closed and / or that its activities will not be stopped temporarily or permanently and they reserve the right to close the site and / or its activities and / or the The provision of the services provided in it and / or the sale of the products offered and sold in it at any time, without prior notice and at their sole discretion.
            </p>
            <p>
                5.4. Some of the services on the "HouseHold manpower" website require registration. As part of the registration, you will be required to provide personal information, such as your name, address, contact information and e-mail address. The required fields will be explicitly marked. Failure to provide the required data in the required fields means that you will not be able to register for the services that require registration, and hence that you will not be able to enjoy these services offered by the site.
            </p>
            <p>
                5.5. All the details entered by you in the registration form on the website will be collected and stored by "HouseHold manpower" and / or someone on its behalf and their use will be made in accordance with the terms of use of the website.


            </p>

            <br>
            <h4 style="color:Tomato;">6. Privacy</h4>
            <p>


                6.1. The use of information
            </p>
            <p>
                6.1.1. The use of the information collected will be made in accordance with this privacy policy or in accordance with the provisions of any law, in order to:

                Allow you to use various services on the site and make the purchase of services through the site.
                Improve and enrich the services and content offered on the site.
                Modify or cancel existing services and content.
            </p>
            <p>
                6.2. Transfer of information to a third party
            </p>
            <p>
                6.2.1. "HouseHold manpower" will not give out your personal information to advertisers. However, it may transmit statistical information about the activity of users of the site.
            </p>
            <p>
                6.2.2. Any statistical information transmitted will not identify you personally.
            </p>
            <p>
                <br>
                6.3. Providing information to a third party
            </p>
            <p>
                6.3.1. "HouseHold manpower" undertakes not to transfer to any party or third party your personal information and / or the information collected about your activity on the site, except in the cases listed below:

                In the event of a legal dispute between you and the company that will require the disclosure of your details;
                If you perform on the Site, unlawful acts;
                If a court order is obtained instructing the teacher to provide your details or information about you to a third party;
                If the company sells or transfers in any way the activity of the site to any corporation - and in the event that you merge with another body or merge the activity of the site with the activity of a third party, provided that this corporation accepts the provisions of this privacy policy towards you.

            </p>
            <p>
                <br>
                6.4. cookies
            </p>
            <p>
                6.4.1. The "HouseHold manpower" website uses "cookies" for its day-to-day and proper operation, including to collect statistics about the use of the website, to verify details, to adapt the website to your personal preferences and for security and information privacy needs.
            </p>
            <p>
                6.4.2. Different browsers include the option to avoid accepting cookies. If you do not know how to do this, check the help file of the browser you are using. The responsibility for avoiding accepting cookies is the sole responsibility of the user, and "HouseHold manpower" will not bear any responsibility of any kind as a result of changing cookie settings or any other setting on your personal computer or any other external computer.


            </p>

            <br>
            <h4 style="color:Tomato;">7. Miscellaneous:</h4>
            <p>


                7.1. "HouseHold manpower" reserves the right to change the site, its structure, appearance, content, scope of services provided on it or any other change, at its sole discretion and without any prior notice. The user will not have any claim, claim and / or demand towards "HouseHold manpower" for making such changes and / or for direct or indirect malfunctions or damages that will occur due to making the changes on the company's site, including temporary or permanent cessation of site activity.
            </p>
            <p>
                7.2. "HouseHold manpower" reserves the right to change the "Site Terms" and / or any document, content, file, terms or information provided on the Site from time to time, without having to give prior notice other than publishing an up-to-date version of the information on the Site and in its sole discretion. . Any update, whatever the information provided through the site, will take effect within 48 hours of its publication and / or update on the site.
            </p>
            <p>
                7.3. If a court or other competent authority rules the Company's Site Terms and / or the Company's Privacy Policy is invalid or unenforceable, in whole or in part, then the validity of the other provisions of the Site's Terms and Conditions and / or the remaining Privacy Policy will not be affected as a result. .
            </p>
            <p>
                7.4. Any waiver by us of any provision contained in the Company's Site Terms and / or the Company's Privacy Policy will not be construed as a waiver of any previous breach or any future breach of any provision of these Terms and Conditions.
            </p>
            <p>
                7.5. Unless expressly stated otherwise in the Terms and Conditions of this site, then nothing stated in these documents will buy any right or any other benefit to third parties.
            </p>
            <p>
                7.6. "Site Terms" as they appear on this site include the entire agreement between you and us regarding your use of the Company's site.





            </p>

            <br>
            <h4 style="color:Tomato;">8. Choice of law and jurisdiction:</h4>
            <p>



                8.1. The use of this website and its contents is subject to Israeli law only.

            </p>
            <p>

                These site regulations do not constitute a substitute for all terms of use of the service and / or agreement and / or general conditions for receiving the services from the company.

            </p>
            <p>

                Use of this website and its contents is subject to all of the above and will be considered as consent to the above.
            </p>
            <p>
                To contact us regarding the site's rules - hssce2021@gmail.com


            </p>


        </lable>




</body>

</html>
