<html>
<head>
<%- include ("partials/navContractor.ejs")-%>
    <link rel = "stylesheet"  type = "text/css"  href = "../css/workHistoryContractor.css" />

    <title>Work history</title>
</head>
<h1> work history contractor</h1>
<%- include ("partials/footer.ejs")-%>

<body>

</body>


</html>

<script src="../js/workHistoryContractor.js"></script>
