<html>
<head>
<%- include ("partials/navContractor.ejs")-%>
    <link rel = "stylesheet"  type = "text/css"  href = "../css/workHistoryContractor.css" />

    <title>Work history</title>
</head>
<h1> work history contractor</h1>

<body>


    <hr>

</body>

<%- include ("partials/footer.ejs")-%>
</html>

<script src="../js/workHistoryContractor.js"></script>
