.title{
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.main{
    width: 500px;
    /*text-align: center;*/
    margin: auto;
}
.error{
    color: red
}