* {
    box-sizing: border-box;
}
#container {
    margin: 10px;
    padding: 10px;
    height: 100px;
}
.col {
    float: left;
    width: 33.33333333%;
    padding: 20px;
}
#left {
    text-align: left;
}
#center {
    text-align: center;
    padding: 80px;
}
#right {
    text-align: right;
    padding: 80px;

}

h3{
    color: black;
    text-align: center;
    text-transform:none;
    font-size: 25px;
    font-family: Garamond ;
    font-weight: bold;

}
h4{
    color: deeppink;
    text-align: center;
    text-transform:none;
    font-size: 20px;
    font-family: Garamond ;
    font-weight: bold;
}

.container {
    border-radius: 5px;
    background-color: aliceblue;
    padding: 10px;
    bottom: 350px;
    float: top;
    height: 500px;
    width: 400px;
}

.details h2{
    padding-left: 10px;
    color:#66afe9;
}

.details.content{
    display: block;
    margin: 40px 0px;
    padding-left: 40px;
}
.Recruitment{
    display: block;
    margin: 40px 0px;
    padding-left: 40px;
}
.Recruitment.error{
    color: #de4427;
}

