
/*body{*/
/*    text-align: center;*/
/*}*/
.order{
    /*text-align: center;*/
    /*position: center;*/
    /*padding-left: 450px;*/
    padding: 20px;

    margin: 0 auto;
    width:500px;
    border-width: 300px;
    text-align: center;
}
.details{
    background: #f2f2f2;
    width: 400px;
    border-radius: 5px;
}
#acceptButton{
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to top, #ee5a6f, #f29263);
}
#acceptButton:hover{
    background: linear-gradient(to bottom, #ee5a6f, #f29263);
}

#declineButton{
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to top, #ee5a6f, #f29263);
}
#declineButton:hover{
    background: linear-gradient(to bottom, #ee5a6f, #f29263);
}