* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 20px;
    height: 50px; /* Should be removed. Only for demonstration */
}

/*.fot{*/
/*    background: #8f8f8f;*/
/*    border-radius: 5px;*/

/*}*/
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
h5{
    font-family: "Fontdiner Swanky", cursive;
}
h6{
    text-transform: capitalize;
    font-family: "Fontdiner Swanky", cursive;
}