.error{
    color:red;
}
h1{
    color: black;
    text-align: center;
    text-transform:none;
    font-size: 50px;
}
h2{
    color: black;
    text-align: center;
    text-transform:none;
    font-size: 30px;
    /*font-family: Garamond ;*/
    font-weight: bold;
}
h3{
    color: black;
    text-align: center;
    text-transform:none;
    font-size: 30px;
    font-family: Garamond ;
    font-weight: bold;

}
h4{
    color: #ee5a6f;
    text-align: center;
    text-transform:none;
    font-size: 20px;
    font-family: Garamond ;
    font-weight: bold;
}
.container {
    border-radius: 5px;
    background-color: #d7d3d3;
    padding: 10px;
    /*border: 5px solid darkgray;*/
}
.fa_custom{
    color: #ee5a6f;
    position:relative;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    line-height: 0%;
    border: none;
    left: 1100px;
    bottom: 50px;

}

.fa_right{
    color: #ee5a6f;
    position:relative;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    top: 40px;
    line-height: 0%;
    border: none;
}

/*llllllllllll*/
.button_slide {
    color: black;
    border: 2px solid orange;
    border-radius: 0px;
    padding: 18px 36px;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 orange;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.slide_down:hover {
    box-shadow: inset 0 100px 0 0 orange;
}