.error{
    color:red;
}
h1{
    color: black;
    text-align: center;
    text-transform:none;
    font-size: 50px;
}
h2{
    color: black;
    text-align: left;
    text-transform:none;
    font-size: 15px;
}
h3{
    color: black;
    text-align: center;
    text-transform:none;
    font-size: 30px;
    font-family: Garamond ;
    font-weight: bold;

}
h4{
    color: deeppink;
    text-align: center;
    text-transform:none;
    font-size: 20px;
    font-family: Garamond ;
    font-weight: bold;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.fa_custom{
    color: #ff0099;
    position: fixed;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    line-height: 0%;
    border: none;
    right: 250px;
    top: 520px;

}

.fa_right{
    color: #ff0099;
    position: fixed;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    top: 520px;
    line-height: 0%;
    border: none;
}