
h1{
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
    text-transform:none;
    font-size: 50px;
}

h2 {
    color: black;
    font-family: verdana;
    font-size: 25px;
    text-align: center;
    text-transform:none;
}
form.container {
    border-radius: 7px;
    background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
    background: linear-gradient(to right, #ee5a6f, #f29263);
    padding: 20px;
    margin: 0 auto;
    height: 200px;
    width:900px;
    text-align: center;
}


dates.added{
    font-size: 10px;
    color: #f29263;
    font-family: verdana;

}