body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 50px;
    background: #FFF;

}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

.error{
    color: #ff0099;
    margin: 10px 2px;
    font-size: 0.8em;
    font-weight: bold;
}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%;
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.btn-black{
    background-color: #000 !important;
    color: #fff;
}

.container {
    /*height: 100vh;*/
    display: flex;
    /*justify-content: center;*/
    flex-direction: column;
    align-items: center;
}

.box {
    background-color: #f1f2f2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    padding: 20px;
}

.captcha {
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 2em;
    padding: 3px;
    border-radius: 5px;
    text-decoration: line-through;
    color: #a0a0a0;
    background-color: #0c0c0c;

}

.restart a {
    text-decoration: none;
}

.errmsg {
    color: black;
    padding: 5px;
    transition: 0.5s ease;
}

input {
    width: 100%;
    margin-bottom: 3px;
}
