/*!*@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");*!*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;
}

body {
    background: #eaeaea;
}

.wrapper .header {
    /*background: #29a5d8;*/
}

.wrapper .title {
    padding: 10px 0;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    color: black;
}

.wrapper .search_box_worker,
.wrapper .search_box_employer,
.wrapper .search_box_job_type
{
    max-width: 1000px;
    background: none;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 5px;
    color: black;
}

.wrapper .search_box_worker input,
.wrapper .search_box_employer input,
.wrapper .search_box_job_type input

{
    border: 0;
    border-bottom: black;
    width: 50%;
    outline: black;
    padding: 10px;
    background: transparent;
    color: black;
    font-size: 16px;
}

::placeholder {
    color: black;
}

.wrapper .search_box_worker input:focus,
.wrapper .search_box_employer input:focus,
.wrapper .search_box_job_type input:focus
{
    border-bottom: 2px solid #fff;
}

.table_wrap {
    width: 90%;
    margin: 50px auto 0;
}

.table_wrap ul li .item {
    display: flex;
    background: #fff;
    padding: 15px 0;
    height: 50px;
}

/*.table_wrap ul li .item .name*/
/*.table_wrap ul li .item .phone{*/
/*    !*width: 100%;*!*/
/*    padding:15px;*/
/*    text-align: left;*/
/*    font-weight: 600;*/
/*    font-size: 13px;*/
/*    color: #FFFFFF;*/
/*}*/

.table_wrap ul li .item .name{
    width:20%;
    padding: 0 15px;
    /*border: 1px solid black;*/
    /*font-size: 10px;*/
    text-align: center;
}

.table_wrap ul li .item .employer{
    width:20%;
    padding: 0 15px;
    /*border: 1px solid black;*/
    /*font-size: 10px;*/
    text-align: center;
}

.table_wrap ul li .item .job-type,
.table_wrap ul li .item .date,
.table_wrap ul li .item .current-fee
{
    width: 20%;
    padding: 0 15px;
    text-align: center;
}

/*.table_wrap ul li .item .issue span,*/
/*.table_wrap ul li .item .name span {*/
/*    width: 90%;*/
/*    display: inline-block;*/
/*    white-space: nowrap;*/
/*    overflow: hidden;*/
/*    text-overflow: ellipsis;*/
/*}*/

.table_header ul li .item {
    border-bottom: 2px solid #eaeaea;
    font-weight: 600;
}

.table_body {
    height: 300px;
    overflow: auto;
}

.table_body ul li .item {
    border-bottom: 1px solid #efefef;
}

.table_body ul li .item .status span {
    padding: 5px 20px;
    border-radius: 25px;
    max-width: 115px;
    display: inline-block;
}




