.salary.range.error{
    font-size: 20px;
    color:red;
}
#date{
    text-align: center;
}
#sal{
    text-align: center;
    color: #9FE472;
    font-size: 30px;
}
h1{
    color: black;
    text-transform: none;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;

}

body{
    /*background-image: url(https://wallpapercave.com/wp/wp7560270.jpg);*/
}
.salary.range{
    color: #9FE472;
    font-size: 30px;
}

form.container {
    text-align: center;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h2 {
    color: black;
    font-size: 15px;
    text-align: center;
    text-transform: none;
}