.contractor h2{
    padding-left: 50px;
}
.contractor a{
    display: block;
    margin: 40px 0;
    padding-left: 40px;
    border-left: 6px solid crimson;
}
.contractor a:hover h3{
    color: crimson;
}
