.transaction{
    border-radius: 25px;
    background: #d9d8d8;
    padding: 20px;
    /*width: 400px;*/
    /*height: 150px;*/

}

.transaction h1{
    padding-left: 50px;
    font-family: American Typewriter, serif;
    color: #000000;
    text-transform: capitalize;
    border-radius: 25px;
    background: #afb6cb;
    padding: 20px;


}
.transaction a{
    border-radius: 25px;
    background: #afb6cb;
    padding: 20px;
    width: 400px;
    height: 150px;


    display: block;
    margin: 40px 0;
    padding-left: 40px;
    border-left: 6px solid #43272c;
}

.transaction h3{
    font-family: American Typewriter, serif;
    color: #000000;
    text-transform: capitalize;
}

.transaction p{
    font-family: Didot, serif	;
    color: #282525;

}
.transaction a:hover h3{
    color: #5393b0;
}
